<div class="page-header">
<header>
  Overview
</header>
  <p>
    Visualising data of Top 10 ODI Run Getters
  </p>
</div>
<section class="section" fxLayout="column" fxLayoutGap.xs="5rem" fxLayoutGap="10rem">

  <section class="section--overall" fxLayout.xs="column" fxLayoutGap="3rem" fxLayoutAlign.gt-xs="space-between" fxLayoutAlign="center stretch">

    <div fxLayout="column" fxFlex.gt-xs="35" fxLayoutGap="3rem" fxLayoutAlign="center">

      <app-stat-two title="Highest Run Scorer" [value]="sachinData.runs"></app-stat-two>

      <div style="font-size: 1.7rem; color: #777777;">

        The name that tops the list has been static for quite a long period of time and it is highly probable that the milestone would stand the ravages of time. It is highly improbable that someone can come dangerously close to matching the celestial Sachin’s record of {{ sachinData.runs }} runs.
      </div>

    </div>

    <div fxFlex.gt-xs="55" fxLayoutAlign="center">

      <canvas #playersRunChart></canvas>

    </div>


  </section>

  <section class="section--overall" fxLayout.xs="column" fxLayoutGap="3rem" fxLayoutAlign.gt-xs="space-between" fxLayoutAlign="center stretch">

    <div fxLayout="column" fxFlexOrder.xs="2" fxFlex.gt-xs="55" fxLayoutAlign="center">

    <canvas #playersInningChart></canvas>

    </div>

    <div fxLayout="column" fxLayoutGap="3rem" fxFlex="35" fxFlexOrder.xs="1" fxLayoutAlign="center">

      <app-stat-two title="Most Innings Played" [value]="sachinData.innings" direction="right"></app-stat-two>

      <div style="font-size: 1.7rem; color: #777777; text-align: right">

        Sachin played for about 23 years and has a record of playing the most number of innings: {{ sachinData.innings }}. Although Sanath Jayasuriya and Mahela Jayawardane are close enough, but since they have retired, the record of 452 innings is again improbable to be broken.

      </div>

    </div>


  </section>

  <section class="section--overall" fxLayout.xs="column" fxLayoutGap="3rem" fxLayoutAlign.gt-xs="space-between" fxLayoutAlign="center stretch">

    <div fxLayout="column" fxFlex.gt-xs="35" fxLayoutGap="3rem" fxLayoutAlign="center">

    <app-stat-two title="Centuries Scored" [value]="sachinData.centuries"></app-stat-two>

      <div style="font-size: 1.7rem; color: #777777;">

       When Sachin scored his 49th 100 back in 2012, the record looked impregnable. However, as we can see in the graph, Virat Kohli is coming close pretty quickly and will probably break the record by 2022.

      </div>

    </div>

    <div fxFlex="55" fxLayoutAlign="center">

      <canvas #playersCenturyChart></canvas>

    </div>


  </section>



</section>
