<div class="page-header">
  <header>
    A Global Phenomenon
  </header>
  <p>
    Visualising data of Sachin Tendulkar
  </p>
</div>

<section class="section" fxLayout="column" fxLayoutGap="10rem">

  <section class="section--overall" fxLayout="row" fxLayoutAlign="center">

    <div #worldmap style="width: 80%; height: 50rem"></div>

  </section>

  <section class="section--overall" fxLayout="row">

    <header style="font-size: 4rem; padding: 0 5rem 3rem 5rem;">
      Country-Wise Performance
    </header>

  </section>

</section>
