<div class="page-header">
  <header>
    A Global Phenomenon
  </header>
  <p>
    Visualising data of Sachin Tendulkar
  </p>
</div>

<section class="section" fxLayout="column" fxLayoutGap.xs="5rem" fxLayoutGap="10rem">

    <section fxLayout="column" fxLayoutAlign="center center">

        <div #worldmap style="width: 75%; height: 50rem"></div>

      <img src="../../../assets/map-legend.png" width="50%" style="margin-top: 10rem;">
    </section>


  <section class="section--overall" fxLayout.xs="column" fxLayoutGap="3rem" fxLayoutAlign.gt-xs="space-between" fxLayoutAlign="center stretch">

    <div fxLayout="column" fxFlex.gt-xs="35" fxLayoutGap="3rem" fxLayoutAlign="center">

    <app-stat-two title="Total Runs Scored (away)" [value]="awayRecord.runs"></app-stat-two>

      <div style="font-size: 1.7rem; color: #777777;">

        Sachin has scored more than 50% of his runs away from home which defines his class. He has scored the most number of runs in UAE ( Remember the desert storms at Sharjah? ) followed by Sri Lanka and Australia.

      </div>

    </div>

    <div fxFlex.gt-xs="55" fxLayoutAlign="center">

    <canvas #countryWiseChart></canvas>

    </div>


  </section>

  <section class="section--overall" fxLayout.xs="column" fxLayoutGap="3rem" fxLayoutAlign.gt-xs="space-between" fxLayoutAlign="center stretch">

    <div fxLayout="column" fxFlexOrder.xs="2" fxFlex.gt-xs="55" fxLayoutAlign="center">

    <canvas #countryAverageChart></canvas>

    </div>

    <div fxLayout="column" fxLayoutGap="3rem" fxFlex="35" fxFlexOrder.xs="1" fxLayoutAlign="center">

    <app-stat-two title="Away Average" [value]="awayRecord.average" direction="right"></app-stat-two>

      <div style="font-size: 1.7rem; text-align: right; color: #777777;">

        Sachin has an average of above 30 in almost all the major countries that he has played in. Zimbabwe happens to be the country where he averages the highest.
      </div>

    </div>


  </section>

  <section class="section--overall" fxLayout.xs="column" fxLayoutGap="3rem" fxLayoutAlign.gt-xs="space-between" fxLayoutAlign="center stretch">

    <div fxLayout="column" fxFlex.gt-xs="35" fxLayoutGap="3rem" fxLayoutAlign="center">

    <app-stat-two title="Away Centuries" [value]="awayRecord.centuries"></app-stat-two>

      <div style="font-size: 1.7rem; color: #777777;">

        Out of the 49 ODI centuries, 29 of them have come outside India.<br/>The graph clearly shows that India went on to win the match 70% of times when Sachin has scored a century.
      </div>

    </div>

    <div fxFlex="25" fxLayout="column" fxLayoutAlign="center">

      <canvas #centuriesWinContribution></canvas>
      <header style="font-size: 2.5rem; padding: 3rem 0 1rem 0; text-align: center">
        Centuries in Winning Causes
      </header>

    </div>

    <div fxFlex="25" fxLayout="column" fxLayoutAlign="center">

      <canvas #runsWinContribution></canvas>
      <header style="font-size: 2.5rem; padding: 3rem 0 1rem 0; text-align: center">
        Runs In Winning Causes
      </header>

    </div>




  </section>



</section>
