<div class="page-header">
  <header>
    Batting Wizard
  </header>
  <p>
    Visualising data of Sachin Tendulkar
  </p>
</div>

<section class="section" fxLayout="column" fxLayoutGap="10rem">

  <section class="section--overall" fxLayout="row" fxLayoutAlign="space-between">


    <div fxFlex="55" fxLayoutAlign="center">

      <canvas #runsByYearChart></canvas>

    </div>

    <div fxLayout="column" fxLayoutGap="3rem" fxFlex="35" fxLayoutAlign="center">

      <app-stat-two title="Most Runs in a Calendar Year" [value]="1894" direction="right"></app-stat-two>
      <div style="font-size: 1.7rem; color: #777777; text-align: right;">

        Sachin also holds the record of most number of runs ever scored in a calendar year. He achieved the feat in 1998 where he scored a total of 1894 runs.

      </div>

    </div>



  </section>


  <section class="section--overall" fxLayout="row" fxLayoutAlign="space-between">

    <div fxLayout="column" fxLayoutGap="3rem" fxFlex="35" fxLayoutAlign="center">

      <app-stat-two title="Career Average" [value]="44.83"></app-stat-two>
      <div style="font-size: 1.7rem; color: #777777;">

        Managing a career average of 44.83 over a span of more than 20 years is a monumental achievement in itself. His average peaked in 2001 when he scored at 69.54 per innings.
      </div>

    </div>

    <div fxFlex="55" fxLayoutAlign="center">

      <canvas #averageByYearChart></canvas>


    </div>


  </section>

  <section class="section--overall" fxLayout="row" fxLayoutAlign="space-between">

    <div fxFlex="55" fxLayoutAlign="center">

      <canvas #ninetiesChart></canvas>

    </div>

    <div fxLayout="column" fxLayoutGap="3rem" fxFlex="35" fxLayoutAlign="center">

      <app-stat-two title="Nervous 90s" [value]="18" direction="right"></app-stat-two>

      <div style="font-size: 1.7rem; text-align: right; color: #777777;">

        Sachin also has a record of getting out the most number of times in the 90s. A clear pattern emerges that there's a cluster of 90s scores between his 350th-450th innings.


      </div>

    </div>




  </section>




</section>
