<header class="page-header">
  World Cup Maestro
</header>

<section class="section">

  <section class="section--overall" fxLayout="row" fxLayoutAlign="space-around">

  <div fxLayout="column" fxLayoutGap="2rem" fxFlex="35" fxLayoutAlign="center">

    <app-stat-two [title]="'Total Innings'" [value]="overall.innings"></app-stat-two>
    <app-stat-two [title]="'Total Runs'" [value]="overall.runs"></app-stat-two>
    <app-stat-two [title]="'Average'" [value]="overall.average"></app-stat-two>

  </div>

  <div fxFlex="55">

    <canvas #overallInningsChart></canvas>

  </div>

  </section>

</section>
