<header class="page-header">
  World Cup Maestro
</header>

<section class="section">

  <section class="section--overall" fxLayout="row" fxLayoutAlign="space-around">

  <div fxLayout="column" fxLayoutGap="2rem" fxFlex="35" fxLayoutAlign="center">

    <app-stat-two [title]="'Total Innings'" [value]="overall.innings"></app-stat-two>
    <app-stat-two [title]="'Total Runs'" [value]="overall.runs"></app-stat-two>
    <app-stat-two [title]="'Average'" [value]="overall.average"></app-stat-two>

  </div>

  <div fxFlex="55">

    <canvas #overallInningsChart></canvas>

  </div>

  </section>

</section>

<section class="section">

  <header style="font-size: 4rem; padding: 0 5rem 3rem 5rem;">
    Impact Player
  </header>

  <section class="section--impact" fxLayout="row">

    <div fxFlex="33">

      <canvas #runsByResultChart></canvas>
      <header style="font-size: 2.5rem; padding: 3rem 0 1rem 0; text-align: center">
        Runs
      </header>

    </div>

    <div fxFlex="33">

      <header style="font-size: 2.5rem; padding: 3rem 0 1rem 0; text-align: center">
        Runs
      </header>



    </div>

    <div fxFlex="33">

      <header style="font-size: 2.5rem; padding: 3rem 0 1rem 0; text-align: center">
        Runs
      </header>



    </div>


  </section>

</section>
