<div class="page-header">
  <header>
    A handy spinner and fielder
  </header>
  <p>
    Visualising data of Sachin Tendulkar
  </p>
</div>


<section class="section" fxLayout="column" fxLayoutGap="7rem">

  <section class="section--overall" fxLayout="row" fxLayoutAlign="space-between">

    <div fxLayout="column" fxLayoutGap="3rem" fxFlex="35" fxLayoutAlign="center">

      <app-stat-two title="Total Wickets Taken" [value]="totalWickets"></app-stat-two>
      <div style="font-size: 1.7rem; color: #777777;">

        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.

      </div>

    </div>

    <div fxFlex="55" fxLayoutAlign="center">

      <canvas #wicketsByOpposition></canvas>

    </div>


  </section>

  <section class="section--overall" fxLayout="row" fxLayoutAlign="space-between">


    <div fxFlex="55" fxLayoutAlign="center">

      <canvas #catchesChart></canvas>

    </div>

    <div fxLayout="column" fxLayoutGap="3rem" fxFlex="35" fxLayoutAlign="center">

      <app-stat-two title="Total Catches Taken" [value]="totalCatches" direction="right"></app-stat-two>
      <div style="font-size: 1.7rem; color: #777777; text-align: right;">

        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.

      </div>

    </div>


  </section>



</section>

