@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

$colorb: rgba(12, 9, 13, 1);
$colory: rgba(231, 180, 70, 1);
$colorr: rgba(255, 16, 83, 1);
$colorw: rgba(255, 255, 255, 1);
$colorp: rgba(97, 83, 204, 1);

html, body { height: 100%;}
html { font-size: 62.5%; }
body { margin: 0; font-family: 'Rubik', sans-serif;}

.page-header{

  padding: 3rem 5rem;
  font-size: 6rem;


}


.section{
  padding: 2.5rem 0;
  width: 100%;
}


