@import "../../../styles";

.stat-title{
  background: $colorb;
  width: max-content;
  color: $colorw;
  font-size: 2.5rem;
  padding: .5rem 5rem .5rem 2rem;

}

.stat-value{
  background-color: $colory;
  width: max-content;
  color: $colorw;
  font-size: 2rem;
  padding: .5rem 3rem .5rem 2rem;
}
