<section class="sidenav-container" fxLayout="column" fxLayoutGap="20px">

  <img src="../../../assets/sachin-header.png" class="header-image">

  <div fxLayout="column" fxLayoutGap="1rem">

    <button mat-raised-button class="nav-button" routerLink="/overview" routerLinkActive="active">Overview</button>
    <button mat-raised-button class="nav-button" routerLink="/batting-tormentor" routerLinkActive="active">Tormentor of teams</button>
    <button mat-raised-button class="nav-button" routerLink="/a-handy-spinner" routerLinkActive="active">A handy off-spinner and fielder</button>
    <button mat-raised-button class="nav-button" routerLink="/worldcup-maestro" routerLinkActive="active">Worldcup Maestro</button>
    <button mat-raised-button class="nav-button" routerLink="/global-phenomenon" routerLinkActive="active">A Global Phenomenon</button>

  </div>

</section>
